<!DOCTYPE HTML>
<html class="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Example Leaderboard App</title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Bree+Serif' rel='stylesheet' type='text/css'>
<link type="text/css" href='/css/reset.css' media="screen" rel="stylesheet">
<link type="text/css" href='/css/grid.css' media="screen" rel="stylesheet">
<link type="text/css" href='/css/site.css' media="screen" rel="stylesheet">
{% block javascript %}
<script src='http://codeorigin.jquery.com/jquery-1.10.2.min.js'></script>
{% endblock %}
</head>
<body>
{% block status %}
<div class="logged-in">
    {% if user %}
        Logged In: {{user.username}}
        <a href="/logout">logout</a>
    {% endif %}
</div>
{% endblock %}
{% block header %}
    <header>
    {%  block logo %}
    {% endblock %}
    </header>
{% endblock %}
<section>
{% block body %}
{% endblock %}
</section>
{% block before_footer %}
{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
