{% extends "base_header_footer.html" %}
{% block header %}
<header class="container-12 centered">
<h1>80<small>s</small> Trivia Challenge</h1>
</header>
{% endblock %}

{% block body %}
<div class="home-container"><p>Welcome to the Smarterer 80s Trivia Challenge. Put your 80s trivia chops to the test for a chance to win amazing prizes! </p>
<p>When you continue you'll be asked a series of questions (around 10-15) and three bonus round questions. At the end hit "Exit Test" to add yourself to the leaderboard!
</p>
<p><a href="/80s/run">Take the challenge!</a></p></div>
{% endblock %}
