{% extends "base.html" %}
{% block body %}
<h1>Example leaderboard using the Smarterer API</h1>
{% if username %}
<h3>Welcome user: {{ username }}</h3>
{% if not authd %}
<p>Step 1: <a href="{{ oauth_url }}">Authorize with Smarterer!</a></p>
{% else %}
<p>Step 2: Take this test to participate in the leaderboard</p>
 {{ widget_embed |safe}}
<p>Step 3: <s>profit</s> Go to the <a href="/leaderboard">leaderboard</a> to see how you stack up.</p>
{% endif %}
{% else %}
Please <a href="/login">login</a>.
{% endif %}
{% endblock %}